<p>control-flow works!</p>

<div class="row">
    <div class="col-3">
        <select [(ngModel)]="selectedCast" class="form-select">
            <option>ABC cast</option>
            <option>DEF cast</option>
            <option>MNO cast</option>
            <option>Other</option>
        </select>
    </div>
    <div class="col-3">
        @if (selectedCast == "Other"){
        <input type="text" class="form-control" placeholder="Other value">
        } @else if(selectedCast == "MNO cast"){
        <span>MNO</span>
        } @else if(selectedCast == "DEF cast"){
        <span>DEF</span>
        } @else if(selectedCast == "ABC cast"){
        <span>ABC</span>
        } @else {
        <span>Select a cast</span>
        }
    </div>
</div>

<hr><br>
<hr>

<div class="row">
    <div class="col-4">
        @if (isStudentActive() == true){
        <span class="text-success">Student is Active</span>
        } @else{
        <span class="text-danger">Student is De-active</span>
        }
    </div>

    <div class="col-4">
        <button class="btn btn-success" (click)="changeStatus(true)">Make Active</button>
        <button class="btn btn-warning mx-2" (click)="changeStatus(false)">Make De-active</button>
    </div>
</div>